<nav class="memorise-navbar">
  <div class="container memorise-navbar-inner">
    <%= link_to root_path, class: "memorise-brand" do %>
      <span class="brand-mark">M</span>
      <span class="brand-text">Memorise App</span>
    <% end %>

    <div class="memorise-nav-actions">
      <% if user_signed_in? %>
        <%= link_to "Mes sujets", memos_path, class: "memorise-nav-link" %>
        <%= link_to "Créer un sujet", new_memo_path, class: "memorise-nav-button" %>
        <%= link_to "Déconnexion",
            destroy_user_session_path,
            data: { turbo_method: :delete },
            class: "memorise-nav-link" %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "memorise-nav-link" %>
        <%= link_to "Inscription", new_user_registration_path, class: "memorise-nav-button" %>
      <% end %>
    </div>
  </div>
</nav>
