<nav class="bottom-bar" data-controller="bottom-bar">
  <%= link_to root_path, class: "bottom-bar__item" do %>
    <i class="fa-solid fa-house"></i>
    <span>ACCUEIL</span>
  <% end %>

  <%= link_to new_memo_path, class: "bottom-bar__item" do %>
    <i class="fa-solid fa-plus"></i>
    <span>NOUVEAU</span>
  <% end %>

  <div class="column_play">

    <%= link_to play_start_path, class: "bottom-bar__fab" do %>
      <i class="fa-solid fa-play"></i>
    <% end %>

    <%= link_to play_start_path, class: "bottom-bar__item" do %>
      <span>
        <% if request.path.match?(/\/memos\/\d+/) %>JOUER CE MEMO<% else %>JOUER MES MEMOS<% end %>
      </span>
    <% end %>

  </div>

  <%= link_to memos_path, class: "bottom-bar__item" do %>
    <i class="fa-solid fa-chart-simple"></i>
    <span>MEMOS</span>
  <% end %>

  <%= link_to publics_memos_path, class: "bottom-bar__item" do %>
    <i class="fa-solid fa-globe"></i>
    <span>PUBLICS</span>
  <% end %>
</nav>
