.<div class="container p-4">
    <div class="d-flex justify-content-between align-items-start p-3">
        <%= link_to memo_path(@chat.memo), class: "memo-item__arrow text-decoration-none" do %>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        <h1 class="text-end text-headings-font-family">Générer des cards grâce à l'IA</h1>
    </div>

  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <p>Impossible de créer le mémo :</p>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= simple_form_for [@chat, @message], html: { class: "simple-form-generate" } do |f| %>

        <%= f.label :content, "Que souhaites-tu mémoriser ?" %>
        <%= f.text_area :content, placeholder: "Parle nous du sujet que tu souhaites mémoriser" %>

        <%= f.input :volume, as: :radio_buttons, collection: @volume_collection, label: "Nombre de cards à générer (\"Synthétique\" par défaut)" %>

        <%= f.input :profondeur, as: :radio_buttons, collection: @profondeur_collection, label: "Type de connaissances (\"grandes lignes\" par défaut)" %>
        <div class="d-flex justify-content-between">
          <%= image_tag "mascotte_create", alt: "mascotte en train de peindre" %>
          <%= f.submit "Créer", class: "btn btn-success btn-sm fw-bold" %>
        </div>

    <% end %>
  </div>
</div>
