<h1>Générer des cards</h1>

<% if @chat.errors.any? %>
  <div class="alert alert-danger">
    <p>Impossible de créer le mémo :</p>
    <ul>
      <% @chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <%= simple_form_for [@chat, @message] do |f| %>

      <%= f.label :content, "Le sujet à mémoriser" %>
      <%= f.text_area :content, placeholder: "Parle nous du sujet que tu souhaites mémoriser" %>

      <%= f.input :volume, as: :radio_buttons, collection: @volume_collection, label: "Quel volume de connaissance souhaites-tu mémoriser ? (cela influencera le nombre de flashcards sur ce sujet) - \"Synthétique\" par défaut" %>

      <%= f.input :profondeur, as: :radio_buttons, collection: @profondeur_collection, label: "Quelle profondeur de connaissance souhaites-tu mémoriser ? (cela influencera la nature des questions) - \"grandes lignes\" par défaut" %>

      <%= f.submit "Créer", class: "btn btn-success btn-sm fw-bold" %>
  <% end %>
</div>
