<div class="card-edit-page">

  <div class="card-edit-header">
    <%= link_to memo_path(@memo), class: "card-edit-header__back" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h1 class="card-edit-header__title">Modifier la card</h1>
  </div>

  <div class="card-edit-card">
    <%= simple_form_for [@memo, @card], html: { class: "card-edit-form" } do |f| %>

      <div class="card-edit-field">
        <label class="card-edit-label">Question</label>
        <%= f.input :ask, label: false, placeholder: "Question...",
            input_html: { class: "card-edit-input" } %>
      </div>

      <div class="card-edit-field">
        <label class="card-edit-label">Réponse</label>
        <%= f.input :answer, label: false, placeholder: "Réponse...",
            input_html: { class: "card-edit-input" } %>
      </div>

      <%= f.submit "Enregistrer", class: "btn btn-primary btn-shadow w-100 mt-2" %>

    <% end %>
  </div>

</div>
