<%= link_to "Retour", memos_path, class:"btn btn-secondary" %>
<%= link_to "Editer", edit_memo_card_path(@card), class:"btn btn-warning" %>
<%= link_to "Supprimer", memo_card_path(@memo, @card), data: { turbo_method: :delete, turbo_confirm: "Etes vous sûr(e) de vouloir supprimer cette card ?" } %>

<h1><%= @card.memo.name %></h1>
<p><%= @card.ask %></p>
<p><%= @card.answer %></p>

