<h1>Créer un mémo</h1>

<% if @memo.errors.any? %>
  <div class="alert alert-danger">
    <p>Impossible de créer le mémo :</p>
    <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <%= simple_form_for @memo do |f| %>
      <%= f.label :name, "Titre du mémo" %>
      <%= f.text_field :name, placeholder: "Ex: Ruby, Histoire, Anglais" %>

      <%= f.submit "Créer", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
