<h1>Créer un mémo</h1>

<% if @memo.errors.any? %>
  <div class="alert alert-danger">
    <p>Impossible de créer le mémo :</p>
    <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @memo do |f| %>
  <div>
    <%= f.label :name, "Titre du mémo" %>
    <%= f.text_field :name, placeholder: "Ex: Ruby, Histoire, Anglais" %>
    <%= f.label :prompt, "Le mémo à mémoriser" %>
    <%= f.text_area :prompt, placeholder: "Parle nous du mémo que tu souhaites mémoriser" %>
  </div>

  <div>
    <%= f.submit "Créer", class: "btn btn-success btn-sm fw-bold" %>
  </div>
<% end %>
