<div class="memo-show-page">

  <div class="memos-header">
    <h1>Mon Memo</h1>
  </div>

  <div class="memo-show-header">
    <%= link_to memos_path, class: "memo-show-header__back" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h1 class="memo-show-header__title"><%= @memo.name %></h1>
    <%= link_to "Nouvelle Card", new_memo_card_path(@memo), class: "btn btn-primary btn-shadow" %>
  </div>


  <div class="memo-cards-grid">
    <%= render partial: "cards/card", collection: @cards, as: :card, locals: { memo: @memo } %>
  </div>

  <div class="memo-cards-grid mt-3 justify-content-center">
  </div>

  <div class="memo-show-actions">
    <%= button_to memo_chats_path(@memo), class: "btn-lg btn-secondary btn-shadow " do %>
      <i class="fa-solid fa-wand-magic-sparkles me-1"></i> Générer les questions
    <% end %>
  </div>


  <div class="memo-show-danger">
    <%= link_to "Jouer ce mémo", play_start_path, class: "btn btn-primary btn-shadow" %>
    <%= link_to "Modifier Memo", edit_memo_path(@memo), class: "btn btn-info " %>
  </div>
</div>
