<div class="memo-show-page">
  <div class="memo-show-header">
    <%= link_to memos_path, class: "memo-show-header__back" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>

    <h1 class="memo-show-header__title"><%= @memo.name %></h1>

    <span class="memo-show-header__count">
      <%= @cards.count %> cards
    </span>
  </div>

  <div class="memo-show-actions">
    <%= link_to "Jouer", play_path(@memo), class: "btn btn-primary btn-shadow" %>

    <% if @memo.user == current_user %>
      <%= link_to "Modifier", edit_memo_path(@memo), class: "btn btn-primary btn-shadow" %>
      <%= button_to "Générer des cards IA", memo_chats_path(@memo), method: :post, class: "btn btn-secondary btn-shadow" %>
    <% end %>
  </div>

  <div class="memos-page">
    <% if @cards.any? %>
      <div class="memos-list">
        <% @cards.each do |card| %>
          <%= link_to memo_card_path(@memo, card), class: "memo-item" do %>
            <div class="memo-item__info">
              <span class="memo-item__name"><%= card.ask %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="text-center mt-4">Aucune card pour le moment.</p>
    <% end %>
  </div>

  <% if @memo.user == current_user %>
    <div class="memo-show-danger">
      <%= button_to memo_path(@memo),
          method: :delete,
          form: { data: { turbo_confirm: "Supprimer ce mémo ?" } },
          class: "btn btn-danger btn-shadow" do %>
        Supprimer le mémo
      <% end %>
    </div>
  <% end %>
</div>
