<h1><%= @memo.name %></h1>
<%= link_to "Créer une card", new_memo_card_path(@memo) %>
<%= link_to "Retour", memos_path %>

<ul>
  <% @cards.each do |card| %>
    <li><%= link_to card.ask, memo_card_path(@memo, card) %></li>
  <% end %>
</ul>

<%= link_to "Supprimer", memo_path(@memo), data: { turbo_method: :delete, turbo_confirm: "Etes vous sûr(e) de vouloir supprimer ce mémo ?" } %>
