<!DOCTYPE html>
<html>
  <head>
    <title>MemoriseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'horse.png' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <%= render "shared/top_bar" %>
  <main class="main-content">
    <%= yield %>
  </main>
<% unless request.url.match?(%r{/play(/|$|\?)}) %>
    <%= render "shared/bottom_bar" %>
<% end %>
</body>

</html>
